<div>
    <h1>New task</h1>
    <mat-form-field>
      <input matInput placeholder="Task Name" [(ngModel)]="taskName" name="taskName" (input)="checkFieldsFilled()">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Date" [(ngModel)]="date" name="date"  (input)="checkFieldsFilled()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Responsible Member</mat-label>
      <mat-select [(ngModel)]="selectedMember" name="responsibleMember" (selectionChange)="checkFieldsFilled()">
        <mat-option *ngFor="let member of responsibleMembers | async" [value]="member.name">
          {{ member.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <button mat-icon-button color="primary" (click)="createTask()" [disabled]="!(taskName && date && selectedMember)">
      <mat-icon>add</mat-icon>
    </button>
    <h1>Current tasks</h1>
    <mat-table   [dataSource]="tableDataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let task">{{ task.name }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let task">{{ task.date.toDate() | date:'yyyy/MM/dd' }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="resperson">
        <mat-header-cell *matHeaderCellDef>Responsible Person</mat-header-cell>
        <mat-cell *matCellDef="let task">{{ task.resperson }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="['name', 'date', 'resperson']"></mat-header-row>
      <mat-row *matRowDef="let task; columns: ['name', 'date', 'resperson']"></mat-row>
    </mat-table>
</div>
