
<div class="sign-in">
    <mat-card class="my-card">
        <h1>Sign in</h1>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <input matInput type="email" placeholder="E-mail" name="email" required #emailSignup>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <input matInput type="password" placeholder="Password" name="psw" required #passwordSignup>
            </mat-form-field>
            <button mat-raised-button color="primary" type="button" class="loginbtn"
                (click)="onSignin(emailSignup.value, passwordSignup.value)">Login
            </button>
            <p>You dont have an account? <a routerLink="/register">Click here!</a></p>
        </mat-card-content>
    </mat-card>
</div>

