@import "../../../../styles.scss";

h2{
    color:$mat-yellow;
    text-align: center;
}
.recipe-container{
    background-color: #fff;
    box-shadow: 2px 8px 18px -3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    .recipe-name{
        color: $mat-yellow;
        font-size: 2em;
        text-align: center;
        margin-bottom: 20px;
    }
    .recipe-image{
        width: 500px;
        border-radius: 5px;
    }
    .content{
        display: flex;
        justify-content: center;
        margin: 30px 0px;
        .recipe-ing{
            background-color: $mat-blue;
            border-radius: 20px;
            color: #fff;
            padding: 20px;
            width: 100%;
            font-size: 1.2em;
            li{
                margin: 5px;
            }
        }
    }
    .recipe-desc{
        font-size: 1.2em;
        text-align: center;
    }
    .cook-it{
       background-color: $mat-yellow;
       border-radius: 30px;
       color: #fff;
    }
}