@import "../../../../styles.scss";
.new-recipe-btn{
    color: $mat-blue
}
.recipe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    box-shadow: 2px 8px 18px -3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 3% 5%;
    margin-bottom: 20px;
    textarea{
        height: 100px;
    }
    h3{
        margin-top: 10px;
        color: $mat-yellow;
    }
    .add-btn{
        color: $mat-blue;
        transition: 0.5s ease;
    }
    .add-btn:hover{
        color: #fff;
        background-color:$mat-blue;
        border-radius: 20px;
    }
    .ing, .forwhat {
        display: flex;
        flex-wrap: wrap;
      }
}
.recipe-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    .recipe-container{
        padding: 10px;
        margin: 10px;
        box-sizing: border-box;
        background-color: #fff;
        box-shadow: 2px 8px 18px -3px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .recipe-name{
        font-size: 1.5em;
        color: $mat-yellow;
    }
    .recipe-image{
        width: 150px;
        display: block;
        margin: 10px auto;
        border-radius: 10px;
    }
    
      .btns{
        display: flex;
        align-items: center;
        .more-info{
            background-color: #3795a152;
            border-radius: 3px;
            border-radius: 20px;
            line-height: 30px;
            margin: 15px 5px;
            color:$mat-blue;
            box-shadow: 2px 8px 18px -3px rgba(0, 0, 0, 0.2);
            transition: 0.4s ease;
          }
          .more-info:hover {
            background-color: $mat-blue;
            color: #fff;
          }
          .delete-button{
            color: #000000b8;
            transition: 0.4s ease;
          }
          .delete-button:hover{
            color: rgb(172, 0, 0);
          }
      }
}