<button class="new-recipe-btn" mat-button color="primary" (click)="toggleContainer()">
    <span>Add new recipe</span>
</button>
<div class="recipe-container" *ngIf="isContainerVisible">
    <h1>New Recipe</h1>
    <mat-form-field>
      <input matInput placeholder="Recipe Name" [(ngModel)]="recipeName" name="recipeName">
    </mat-form-field>
    <br>
    <input type="file" name="recipeImage" (change)="uploadAndSaveImage($event)">
    <h3>Ingredients</h3>
    <div class="forwhat">
      <mat-form-field>
        <input matInput placeholder="For what" [(ngModel)]="groupName" name="groupName">
      </mat-form-field>
      <button class="add-btn" mat-icon-button color="primary" (click)="addGroup()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="ing">
      <div *ngFor="let group of ingredientGroups" class="group">
        <h3>{{ group.name }}</h3>
        <div *ngFor="let ingredient of group.ingredient; let i = index" class="ingredient-row">
          <mat-form-field>
            <input matInput placeholder="Ingredient Name" [(ngModel)]="ingredient.name" name="ingredientName{{i}}">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Quantity" [(ngModel)]="ingredient.quantity" name="ingredientQuantity{{i}}">
          </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Quantity Unit" [(ngModel)]="ingredient.unit" name="ingredientUnit{{i}}">
            <mat-option value="kg">kg</mat-option>
            <mat-option value="dkg">dkg</mat-option>
            <mat-option value="g">g</mat-option>
            <mat-option value="l">l</mat-option>
            <mat-option value="dl">dl</mat-option>
            <mat-option value="cl">cl</mat-option>
            <mat-option value="ml">ml</mat-option>
            <mat-option value="tk">tk</mat-option>
            <mat-option value="ek">ek</mat-option>
            <mat-option value="kk">kk</mat-option>
            <mat-option value="mk">mk</mat-option>
            <mat-option value="csipet">csipet</mat-option>
            <mat-option value="ek">darab</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
      </div>
      <button class="add-btn" mat-icon-button color="primary" (click)="addIngredient(group)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
    <br><br>
    <mat-form-field>
        <textarea matInput placeholder="Description" [(ngModel)]="description" name="description"></textarea>
    </mat-form-field>
    <br>
    <button class="add-btn" mat-icon-button color="primary" (click)="createRecipe()">
      Add
    </button>
</div>
<div class="recipes">
    <h1>Recipes</h1>
    <div class="recipe-list">
        <div *ngFor="let recipe of recipeSource" class="recipe-container">
          <ng-container *ngIf="recipe.recPicture !== undefined">
            <img class="recipe-image" [src]="'data:image/jpeg;base64,' + recipe.recPicture" alt="Recipe Image">
          </ng-container>
            <div class="recipe-name">{{ recipe.recipeName }}</div>
            <div class="btns">
              <button mat-raised-button class="more-info" (click)="navigateToRecipeDetails(recipe.recipeName)">
                More info
              </button>
              <button mat-icon-button class="delete-button" (click)="deleteRecipe(recipe)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
        </div>
    </div>
</div>