<button class="new-recipe-btn" mat-icon-button color="primary" (click)="toggleContainer()">
    Add new recipe
</button>
<div class="recipe-container" *ngIf="isContainerVisible">
    <h1>New Recipe</h1>
    <mat-form-field>
      <input matInput placeholder="Recipe Name" [(ngModel)]="recipeName" name="recipeName">
    </mat-form-field>
    <br>
    <input type="file" name="recipeImage" (change)="uploadAndSaveImage($event)">
    <h3>Ingredients</h3>
    <div *ngFor="let ingredient of ingredients; let i = index">
      <mat-form-field>
        <input matInput placeholder="Ingredient Name" [(ngModel)]="ingredient.name" name="ingredientName{{i}}">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Quantity" [(ngModel)]="ingredient.quantity" name="ingredientQuantity{{i}}">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Quantity Unit" [(ngModel)]="ingredient.unit" name="ingredientUnit{{i}}">
          <mat-option value="kg">kg</mat-option>
          <mat-option value="g">g</mat-option>
          <mat-option value="lb">lb</mat-option>
          <mat-option value="oz">oz</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
    </div>
    <button class="add-btn" mat-icon-button color="primary" (click)="addIngredient()">
      <mat-icon>add</mat-icon>
    </button>
    <br><br>
    <mat-form-field>
        <textarea matInput placeholder="Description" [(ngModel)]="description" name="description"></textarea>
    </mat-form-field>
    <br>
    <button class="add-btn" mat-icon-button color="primary" (click)="createRecipe()">
      Add
    </button>
</div>
<div class="recipes">
    <h1>Recipes</h1>
    <div class="recipe-list">
        <div *ngFor="let recipe of recipeSource" class="recipe-container">
          <ng-container *ngIf="recipe.recPicture !== undefined">
            <img class="recipe-image" [src]="'data:image/jpeg;base64,' + recipe.recPicture" alt="Recipe Image">
          </ng-container>
            <div class="recipe-name">{{ recipe.recipeName }}</div>
            <button mat-raised-button class="more-info" (click)="navigateToRecipeDetails(recipe.recipeName)">
                More info
            </button>
            <button mat-icon-button class="delete-button" (click)="deleteRecipe(recipe)">
              <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>