@import "../../../../styles.scss";

::ng-deep .toolbar  {
    position: relative;
    z-index: 5;
    background-color: #fffefd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    span, button{
        color: $mat-blue;
    }
}
