<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" #sidenav mode="side" [opened]="isSidenavOpen" [mode]="sidenavMode" *ngIf="nav.isVisible">
    <a routerLink="main" routerLinkActive="active-link">
        <mat-icon>list_alt</mat-icon>Tasks
    </a>
    <a routerLink="profile" routerLinkActive="active-link">
      <mat-icon>person_outline</mat-icon>Profile
    </a>
    <a routerLink="recipe" routerLinkActive="active-link">
      <mat-icon>local_dining</mat-icon>Recipes
    </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>