<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" #sidenav mode="side" *ngIf="nav.isVisible">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon class="btn">menu</mat-icon>
    </button>
    <a routerLink="main" routerLinkActive="active-link">
      <mat-icon>list_alt</mat-icon>
      <span>Task</span>
    </a>
    <a routerLink="profile" routerLinkActive="active-link">
      <mat-icon>person_outline</mat-icon>
      <span>Profile</span>
    </a>
    <a routerLink="recipe" routerLinkActive="active-link">
      <mat-icon>local_dining</mat-icon>
      <span>Recipes</span>
    </a>
    <a routerLink="fridge" routerLinkActive="active-link">
      <mat-icon>kitchen</mat-icon>
      <span>Fridge</span>
    </a>
    <a routerLink="calendar" routerLinkActive="active-link">
      <mat-icon>calendar_today</mat-icon>
      <span>Calendar</span>
    </a>
  </mat-sidenav>
  <mat-sidenav-content #content [class.sidenav-opened]="sidenavOpened" [ngClass]="{'login-page': isLoginPage}">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>