@import "../../../../styles.scss";

.container {
    background-color: $mat-yellow;
    min-height:100%;
    mat-sidenav{
        width: 150px;
        padding: 20px 0px 0px 20px;
        background-color: $mat-yellow;
        border: none;
        visibility: visible !important;
        display:block !important;
        transition-duration: 300ms;
        .btn{
            color: #FFF8F0;
        }
        a {
            display: flex;
            text-decoration: none;
            align-items: center;
            color: #fff;
            margin-bottom: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1.1em;
            padding: 10px;
            margin-top: 20px;
            mat-icon{
                margin-right: 13px;
            }
        }
        .active-link {
            position: relative;
            color: $mat-yellow;
            background-color: #FFF8F0;
            border-radius: 30px 0px 0px 30px;
          }
        .active-link::before {
            content: "";
            position: absolute;
            background-color: $mat-yellow;
            bottom: -20px;
            right: -6px;
            height: 20px;
            width: 20px;
            border-top-right-radius: 40px;
            box-shadow: 0 -15px 0 0 #FFF8F0;
          }
          .active-link::after {
            content: "";
            position: absolute;
            background-color: $mat-yellow;
            top: -20px;
            right: -6px;
            height: 20px;
            width: 20px;
            border-bottom-right-radius: 40px;
            box-shadow: 0 15px 0 0 #FFF8F0;
          }
    }
    mat-sidenav-content {
        padding: 20px;
        margin: 10px 10px 10px 65px;
        transition: margin-left 300ms;
        background-color: #FFF8F0;
        height: calc(100% - 1px);
        border-radius: 20px;
        height: 94vh;
        &.sidenav-opened {
          margin-left: 150px !important;
        }
      }
}

mat-sidenav:not(.mat-drawer-opened) {
    transform: translate3d(0, 0, 0) !important;
    width: 65px !important;
    overflow: hidden;
  }