@import "~@angular/material/theming";

$primaryPalette: mat-palette($mat-indigo);
.person-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
    .person-card {
        height: 100%;
        width: 23%;
        padding: 10px;
        margin: 10px;
        box-sizing: border-box;
        box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.34);
        border-radius: 20px;
        text-align: center;
        .person-name {
            margin-bottom: 5px;
            font-size: 1.3em;
            color: mat-color($primaryPalette);
        }
        .person-tasks{
            ul{
                list-style-type: none;
                padding: 0;
                li{
                    padding-bottom: 10px;
                    .done-icon{
                        cursor: pointer;
                        margin-left: 5px;
                    }
                }
            }
        }
        .delete-button{
            align-self: flex-end;
            margin-top: auto;
           
        }
      }
  }
  

  

  