<div>
    <div>
        <h1>New person</h1>
        <mat-form-field>
            <input matInput placeholder="Person Name" [(ngModel)]="personName">
        </mat-form-field>
        <button mat-icon-button color="primary" (click)="createPerson()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div>
        <h1>Current people</h1>
        <mat-table [dataSource]="peopleSource">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
              <mat-cell *matCellDef="let person">{{ person.name }}</mat-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="['name']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['name']"></mat-row>
          </mat-table>
    </div>
</div>
