<div>
    <div class="new-person">
        <h1>New person</h1>
        <mat-form-field>
            <input matInput placeholder="Person Name" [(ngModel)]="personName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Person Email" [(ngModel)]="personEmail">
      </mat-form-field>
        <button mat-icon-button color="primary" (click)="createPerson()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="current-people">
        <h1>Current people</h1>
        <!--<mat-table [dataSource]="peopleSource">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
              <mat-cell *matCellDef="let person">{{ person.name }}</mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="delete">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let person">
                <button mat-icon-button  (click)="deletePerson(person)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="['name', 'delete']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['name', 'delete']"></mat-row>
          </mat-table>-->
          <div class="person-container">
            <div *ngFor="let person of peopleSource" class="person-card">
              <div class="person-name">{{ person.personName }}</div>
              <div class="person-tasks">
                <ul>
                  <li *ngFor="let task of person.tasks">
                    <span>{{ task.taskName }} - </span>
                    <span>{{ convertTimestampToDate(task.date) | date:'yyyy/MM/dd'}}</span>
                    <mat-icon class="done-icon" (click)="completedTask(task)">done</mat-icon>
                  </li>
                </ul>
              </div>
              <button mat-icon-button class="delete-button" (click)="deletePerson(person)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
    </div>
    <div class="stat">
      <h1>Statistics</h1>
      <div *ngFor="let person of peopleSource" class="person-card">
        <div class="person-name">{{ person.personName }}</div>
        <div class="person-tasks">
          <ul>
            <li *ngFor="let task of person.doneTask">
              <span>{{ task.taskName }}</span>
            </li>
           <!-- <p>Task completed: {{person.doneTask.length}}</p>
            <li *ngFor="let task of person.doneTask | keyvalue">
              <pre>{{ person.doneTask | json }}</pre>
              <pre>{{ task.value | json }}</pre>
            </li>-->
          </ul>
        </div>
      </div>
    </div>
</div>
<!--<table>
  <thead>
    <tr>
      <th>Person Name</th>
      <th>Task</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let person of peopleSource">
      <ng-container *ngIf="person.doneTask.length > 0; else noTaskBlock">
        <tr>
          <td class="person-name" [attr.rowspan]="person.doneTask.length">{{ person.personName }}</td>
          <td>{{ person.doneTask[0].taskName }}</td>
        </tr>
        <tr *ngFor="let task of person.doneTask.slice(1)">
          <td>{{ task.taskName }}</td>
        </tr>
      </ng-container>
    </ng-container>
    <ng-template #noTaskBlock>
      <tr>
        <td colspan="2">No task</td>
      </tr>
    </ng-template>
  </tbody>
</table>-->

