<div>
    <div class="new-person">
        <h1>New person</h1>
        <mat-form-field>
            <input matInput placeholder="Person Name" [(ngModel)]="personName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Person Email" [(ngModel)]="personEmail">
      </mat-form-field>
        <button mat-icon-button color="primary" (click)="createPerson()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="current-people">
        <h1>Current people</h1>
          <div class="person-container">
            <div *ngFor="let person of peopleSource" class="person-card">
              <div class="person-name">{{ person.personName }}</div>
              <div class="person-tasks">
                <ul>
                  <li *ngFor="let task of person.tasks">
                    <span>{{ task.taskName }} - </span>
                    <span>{{ convertTimestampToDate(task.date) | date:'yyyy/MM/dd'}}</span>
                    <mat-icon class="done-icon" (click)="completedTask(task)">done</mat-icon>
                  </li>
                </ul>
              </div>
              <button mat-icon-button class="delete-button" (click)="deletePerson(person)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
    </div>
    <div class="stat">
      <h1>Statistics</h1>
      <div class="statinfos">
        <div *ngFor="let person of peopleSource" class="person-card">
          <div class="person-name">{{ person.personName }}</div>
          <div class="person-tasks">
              <div *ngFor="let task of person.doneTask">
                <span>{{ task.taskName }}</span>
              </div>
          </div>
        </div>
      </div>
      <div class="chart-container">
      <canvas  id="TaskChart" >{{ chart }}</canvas>
     </div>
    </div>
</div>
<!--<table>
  <thead>
    <tr>
      <th>Person Name</th>
      <th>Task</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let person of peopleSource">
      <ng-container *ngIf="person.doneTask.length > 0; else noTaskBlock">
        <tr>
          <td class="person-name" [attr.rowspan]="person.doneTask.length">{{ person.personName }}</td>
          <td>{{ person.doneTask[0].taskName }}</td>
        </tr>
        <tr *ngFor="let task of person.doneTask.slice(1)">
          <td>{{ task.taskName }}</td>
        </tr>
      </ng-container>
    </ng-container>
    <ng-template #noTaskBlock>
      <tr>
        <td colspan="2">No task</td>
      </tr>
    </ng-template>
  </tbody>
</table>-->

